.App {
  text-align: center;

}

.animate-background {
  /* background-image: url('https://images.unsplash.com/photo-1536625400301-f8f8668d7fd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=347&q=80'); */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* NAV ELEMENTS -------------------- */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBar {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  color: aliceblue;
  background-color: #1E90FF;
  border: black solid 1px;
  /* padding-right: 1.5em; */
  
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  /* font-size: 1em; */
}

.navMid {
  display: flex;
  border-top: black solid 1px;
  justify-content: center;
  align-items: flex-end;
  height: 3.5em;
}

.navFoot {
  background-color: white;
  height: 1.5em;
  color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-top: black solid 2px;
}

.leftNavFoot {
  display: flex;
  align-items: center;
}

#allSites {
  color: #1E90FF
}

.MuiSvgIcon-root {
  font-size: 0em;
  width: 0em;
  height: 0em;
}

/* sizing is wrong for the elements in topnav 
they seem to inherit from the class just above this one */
.navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.navSideIcons {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 1em;
  width: 1em;
  height: 1em;
}

.schedulingH3 {
  padding-left: 1.34em;
}

.topRight {
  display: flex;
}
/* cannot round circle properly */

.roundInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid #0F1C3F;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: 0.25em;
}

#downArrow {
  height: 4em;
}

/* List(body) ELEMENTS -------------------- */

/* //change back to 194px if issues with footer */
.siteList {
  height: calc(100vh - 220px);
  padding-top: 10px;
}

/* .ListItems {
  display: flex;
  flex-direction: column;
  width: 90%;
} */

.ListItem {
border-radius: 5%;
margin: 8px auto;
display: flex;
justify-content: space-between;
height: 5.5em;
border:2px solid black;
width: 95%;
background-color: white;
opacity: 0.70;
box-shadow: #888888 2px 3px;
}

.ListItem p {
  margin: 3px 0px 10px 0px;
}

.flex {
  display: flex;
}

.SiteImage {
  /* padding-top: 1em; */
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
}

.ArrowNextPage {
  height: 50px;
}

.SiteInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 0.5em;
}


/* details page */

.Details {
  display: flex;
  flex-direction: column;
}

.Detailhead {
  display: flex;
  align-items: center;
  height: 6em;
  border:1px solid black;
  background-color: white;
  background-color: #1E90FF;
  margin: 0;
  padding: 0;
  }

  .Detailhead p {
    margin: 3px 0px 10px 0px;
  }

/* Footer ELEMENTS -------------------- */

.pageFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: black outset 1px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #1E90FF;
  font-family: 'Source Sans Pro', sans-serif;
}