.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* NAV ELEMENTS -------------------- */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBar {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  color: aliceblue;
  background-color: #1E90FF;
  border: black solid 1px;
  
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
}

.navMid {
  display: flex;
  border-top: black solid 1px;
  justify-content: center;
  align-items: flex-end;
  height: 3.5em;
}

.navFoot {
  background-color: white;
  height: 1.5em;
  color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: black solid 2px;
}

.leftNavFoot {
  display: flex;
  align-items: center;
}

.MuiSvgIcon-root {
  font-size: 0em;
  width: 0em;
  height: 0em;
}

/* sizing is wrong for the elements in topnav 
they seem to inherit from the class just above this one */
.navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.navSideIcons {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 1em;
  width: 1em;
  height: 1em;
}

.schedulingH3 {
  padding-left: 1.34em;
}

.topRight {
  display: flex;
}
/* cannot round circle properly */

.roundInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid #0F1C3F;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: 0.25em;
}

#downArrow {
  height: 4em;
}

/* not going to work because you can't track hover on mobile */
/* #downArrow:hover {
  transform: scale(3.5);
} */
/* List(body) ELEMENTS -------------------- */

.siteList {
  display: flex;
  height: 35em;
}

.gif {
  width: 100%;
  height: 110%;
}

/* Footer ELEMENTS -------------------- */

.pageFooter {
  display: flex;
  margin-top: 0px;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  flex-direction: column;
  justify-content: flex-end;
  border: black outset 1px;
  width: 100%;
  background-color: #1E90FF;
  font-family: 'Source Sans Pro', sans-serif;
}